.hero {
    margin: rem(48) 0 rem(64);
    @include tablet {
        margin: rem(64) 0;
    }
    .icon {
        width: rem(48);
        @include transition(width);
        @include laptop {
            width: rem(64);
        }
    }
    .subhead {
        flex-wrap: wrap;
        align-items: center;
        row-gap: rem(16);
        column-gap: rem(8);
        max-width: rem(800);
        @include transition(row-gap, column-gap);
        @include mobileLg {
            row-gap: rem(20);
            column-gap: rem(12);
        }
        @include tablet {
            row-gap: rem(22);
        }
        @include tabletLg {
            row-gap: rem(28);
        }
        @include laptop {
            row-gap: rem(32);
        }
        span {
            @include font(17, 26);
            @include mobileLg {
                @include font(20, 30);
            }
            @include tablet {
                @include font(28, 34);
            }
            @include laptop {
                @include font(34, 44);
            }
        }
    }
    .cta {
        margin-top: rem(8);
        @include transition(margin-top);
        @include laptop {
            margin-top: rem(16);
        }
    }
}
