html {
    max-width: rem(1000);
    padding: rem(16) rem(12);
    margin: auto;
    @include font-ibm-plex-mono;
    color: color(common, 'black');
    background-image: url('../assets/svg/Grid.svg');
    background-position: top left;
    background-color: color(pastel, 'purple');
    background-size: rem(50);
    @include mobileLg {
        padding: rem(24) rem(20);
    }
}
