$base-font-size: 16;

$colors: (
    common: (
        'white': #f7f9ff,
        'black': #0a1109,
        'md-gray': #656a7c,
        'primary': #3422ff
    ),
    pastel: (
        'aqua': #a6ffea,
        'pink': #ffcfef,
        'purple': #eae7ff,
        'blue': #d7efff,
        'green': #efffd9,
        'blurple': #b4baff,
        'gray': #f3f4ff
    )
);

$breakpoints: (
    'mobileMd': 375px,
    'mobileLg': 410px,
    'tablet': 600px,
    'tabletLg': 768px,
    'laptop': 992px,
    'desktopSm': 1200px,
    'desktop': 1600px
);
