.header {
    &,
    &:before {
        @include borderRadius;
    }
    position: relative;
    margin: rem(10) rem(10) 0 rem(10);
    gap: rem(40);
    justify-content: space-between;
    align-items: center;
    @include boxShadow;

    .logo,
    .right-content {
        z-index: 101;
    }
    .logo {
        width: rem(46);
        padding: unset;
        @include addTargetArea(7);
        @include hover {
            @include hoverOpacity;
            & > span:before {
                display: none !important;
            }
        }
        & > span {
            margin-right: 0;
            margin-top: rem(3);
        }
    }
    @include laptop {
        @include paddingY(6);
    }
}
