.header {
    flex-direction: row !important;
    @include paddingY(0);
    margin-bottom: rem(24);
    position: relative;
    gap: rem(40);
    justify-content: space-between;
    align-items: center;
    @include boxShadow;
    @include transition(margin, padding);
    @include tabletLg {
        @include paddingY(6);
    }
    @include laptop {
        margin-bottom: rem(48);
    }
    &,
    &:before {
        @include borderRadius;
    }
    .logo,
    .nav {
        z-index: 101;
    }
    .logo {
        width: rem(46);
        padding: unset;
        @include addTargetArea(7);
        @include hover {
            @include hoverOpacity;
            & > span:before {
                display: none !important;
            }
        }
        & > span {
            margin-right: 0;
            margin-top: rem(3);
        }
    }
}
