.header {
    padding: 0;
    position: sticky;
    top: rem(16);
    z-index: 101;
    &__content {
        z-index: 1;
        flex-direction: row !important;
        padding: rem(0) rem(12);
        margin-bottom: rem(24);
        position: relative;
        gap: rem(40);
        justify-content: space-between;
        align-items: center;
        @include boxShadow;
        @include transition(margin, padding);
        @include mobileLg {
            @include paddingX(24);
        }
        @include tabletLg {
            @include paddingY(6);
        }

        @include laptop {
            margin-bottom: rem(48);
        }
        &,
        &:before {
            @include borderRadius;
        }
        .logo,
        .nav {
            z-index: 101;
        }
        .logo {
            width: rem(46);
            padding: unset;
            @include addTargetArea(7);
            @include hover {
                @include hoverOpacity;
                & > span:before {
                    display: none !important;
                }
            }
            & > span {
                margin-right: 0;
                margin-top: rem(3);
            }
            &-image {
                width: rem(32);
            }
        }
    }
    &.menu-open {
        &:before {
            display: block;
            content: '';
            position: absolute;
            width: calc(100% + rem(32));
            height: calc(100vh + rem(16));
            top: rem(-16);
            left: rem(-16);
            z-index: 1;
            background: color(pastel, 'purple');
            opacity: 0.875;
        }
    }
}
