.back-to-top {
    position: fixed;
    bottom: rem(24);
    right: rem(24);
    font-weight: bold;
    color: color(common, 'black');
    width: rem(40);
    height: rem(40);
    @include transition(bottom, right);
    @include laptop {
        bottom: rem(24);
        right: rem(24);
    }
    @include desktopSm {
        bottom: rem(40);
        right: rem(40);
    }
    @include boxShadow(color(pastel, 'blue'));
    &,
    &:before,
    &:after {
        border-radius: 50%;
    }
    &:before {
        top: rem(3);
        left: rem(3);
    }
}
