html {
    max-width: unset;
    padding: unset;
    margin: unset;
    &:before {
        display: none;
    }
}

.section {
    max-width: rem(1000);
    margin: auto;
}
.preview {
    padding: rem(20);
    &:before {
        display: block;
    }
}

.docs-story {
    & > div {
        padding: 0;
        overflow: hidden;
    }
}
