.link {
    display: inline-block;
    margin-right: auto;
    color: color(common, 'primary');
    @include font-ibm-plex-mono-bold;
    @include font(20, 26);
    @include paddingX(4);
    @include underlineOnHover;
    &.underline {
        @include underlineHighlightHover;
    }
    &-text {
        display: inline-block;
        margin-right: rem(10);
    }
}
