.text {
    @include transition(font-size);
    &.xs {
        @include font(16, 28);
        &.rich-text + &.rich-text {
            margin-top: rem(24);
        }
    }
    &.sm {
        @include font(16, 28);
        &.rich-text + &.rich-text {
            margin-top: rem(28);
        }
        @include tablet {
            @include font(20, 30);
        }
    }
    &.md {
        @include font(20, 30);
        &.rich-text + &.rich-text {
            margin-top: rem(30);
        }
        @include tablet {
            @include font(22, 32);
        }
    }
    &.lg {
        @include font(24, 48);
        &.rich-text + &.rich-text {
            margin-top: rem(32);
        }
        @include tablet {
            @include font(28, 52);
        }
        @include laptop {
            @include font(32, 56);
        }
    }
    &.xl {
        @include font-inter-md;
        @include font(26, 54);
        &.rich-text + &.rich-text {
            margin-top: rem(34);
        }
        @include tablet {
            @include font(32, 66);
        }
    }
    &.secondary {
        @include font-inter-md;
    }
    &.bg {
        &-aqua,
        &-white,
        &-pink {
            position: relative;
            display: inline-block;
            padding: rem(2) rem(6);
            line-height: rem(24);
            margin-right: rem(6);
            @include mobileLg {
                padding: rem(2) rem(8);
                margin-right: rem(4);
            }
        }
        &-aqua {
            @include boxShadow(color(pastel, 'aqua'));
        }
        &-white {
            @include boxShadow(color(common, 'white'));
        }
        &-pink {
            @include boxShadow(color(pastel, 'pink'));
        }
    }
}
